/*

IMPORTANT:
When writing new CSS, be sure to sort the styles
alphabetically into the correct category for
easier navigation.

CATEGORIES:
  - General
  - Text/fonts
  - Classes
  - ID's
*/

/*   CSS GENERAL */

* {
  font-family: bomberText; /* set default font */
  color: white; /* set default text color */
}

body {
  margin: 0;
  background-color: black;
}

button {
  background-color: #000000;
  border: 6px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: bomberText;
  font-size: 17px;
  outline: 1px solid black;
  padding: 11px 33px;
  text-decoration: none;
  transition: 0.33s;
}

button:hover {
  background-color: #ffffff;
  border: 6px solid #000000;
  color: #000000;
}

header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
}

html {
  font-family: sans-serif;
}

img {
  margin: 5px;
}

input {

}

table {
  color: white;
  table-layout: fixed;
  width: 50%;
}

td {
  text-align: right;
  width: 10%;
}

/* CSS TEXT & FONTS */

@font-face {
  font-family: bomberText;
  src: url("fonts/FORCED SQUARE.ttf");
}

@font-face {
  font-family: bomberHeader;
  src: url("fonts/unlearn2.ttf");
}

/* CSS CLASSES */


.headerLogo {
  color: white;
  font-family: bomberHeader;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

.inputName{
  margin: 5px;
}

/* CSS ID's */

#headerLogoRed {
  color: #ae0000;
  font-family: bomberHeader;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

#infobar {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#main-header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#player {
  border: 2px solid black;
  margin: 0px;
}

#playerName {
  display: none;
}

#playBox {
  align-items: center;
  background-color: #000000;
  border: 6px solid white;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 250px;
}

#tableName {
  width: 10%;
  text-align: left;
}
#tableScore {
  width: 10%;
  text-align: left;
}
#tableTime {
  width: 10%;
  text-align: left;
}

#welcomeBox {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
  width: 100%;
}
