/*

IMPORTANT:
When writing new CSS, be sure to sort the styles
alphabetically into the correct category for
easier navigation.

CATEGORIES:
  - General
  - Text/fonts
  - Blocks
  - Classes
  - ID's
*/

/*   CSS GENERAL */

* {
  font-family: bomberText; /* set default font */
  color: white; /* set default text color */
}

body {
  margin: 0;
  background-color: black;
}

button {
  background-color: #000000;
  border: 6px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: bomberText;
  font-size: 18px;
  outline: 1px solid black;
  padding: 11px 33px;
  text-decoration: none;
  transition: 0.33s;
}

button:hover {
  background-color: #ffffff;
  border: 6px solid #000000;
  color: #000000;
}

html {
  font-family: sans-serif;
}

img {
  margin: 5px;
}

input {
  background-color: #000000;
  border: 6px solid #ffffff;
  padding: 6px;
  transition: 1s;
}

table {
  color: white;
  table-layout: fixed;
  width: 50%;
}

td {
  text-align: right;
  width: 10%;
}

/* CSS TEXT & FONTS */

@font-face {
  font-family: bomberText;
  src: url("fonts/FORCED SQUARE.ttf");
}

@font-face {
  font-family: bomberHeader;
  src: url("fonts/unlearn2.ttf");
}

/* CSS BLOCKS & DIVS */

header {
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer {
  align-items: center;
  background-color: black;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  height: 16px;
  padding: 0;
  font-size: 14px;
  width: 100%;
}

#infobar {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#nameInput {

}

#pBoxHeader {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

#playBox {
  align-items: center;
  background-color: #000000;
  border: 6px solid black;
  display: grid;
  height: 400px;
  justify-content: center;
  text-align: center;
  width: 300px;
}

#welcomeBox {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
  width: 100%;
  animation: 4s ease-out 0s 1 fadeIn;
}

/* CSS CLASSES */

.headerLogo {
  color: white;
  font-family: bomberHeader;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  animation: 2s ease-out 0s 1 hdFadeIn;
}

.inputName{
  margin: 5px;
}


.board {
  text-align: center;
}

/* CSS ID's */

#canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid white;
}

#errorMsg {
  color: #ae0000;
  font-family: monospace;
  font-size: 12px;
  text-align: center;
}

#headerLogoRed {
  color: #ae0000;
  font-family: bomberHeader;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  animation: 2s ease-out 0s 1 hdFadeIn;
}

#hueSelect {
  -webkit-appearance: none;
  background: white;
  border: 3px solid black;
  display: none;
  height: 6px;
  margin: 10px auto;
  padding: 0px;
  vertical-align: middle;
  width: 180px;
}
/* Used with Chrome, edge, safari, opera */
#hueSelect::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  border: 4px solid white;
  border-radius: 0px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}
/* Used with Firefox */
#hueSelect::-moz-range-thumb {
  background: black;
  border: 4px solid white;
  border-radius: 0px;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

#imgPreview {
  -webkit-filter: hue-rotate(0deg);
  border: 3px solid white;
  display: none;
  filter: hue-rotate(0deg);
  margin: 10px auto 10px auto;
  padding: 0;
}

#main-header {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#picUpdate {
  display: none;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}

#play-button {
  display: none;
  margin-bottom: 10%;
  margin: 10px auto;
  width: 160px;
}

#player {
  filter: hue-rotate(0deg);
}

#playerName {
  display: none;
  font-size: 24px;
  margin-bottom: 10%;
  margin: 0px auto;
  text-align: center;
  width: 220px;
}

#start-button {
  background-color: #000000;
  border: 6px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: bomberText;
  font-size: 17px;
  margin: 50%;
  padding: 11px 33px;
  text-decoration: none;
  transition: 0.33s;
}

#start-button:hover {
  background-color: #ae0000;
  border: 6px solid #000000;
  color: #000000;
}

#tableName {
  text-align: left;
  width: 10%;
}
#tableScore {
  text-align: left;
  width: 10%;
}
#tableTime {
  text-align: left;
  width: 10%;
}

/* ANIMATION */

@keyframes hdFadeIn {
  0% {
    opacity: 0;
  } 25% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 35% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}
